body{
    background-color: mediumseagreen;
}
#score{
    font-size: 30px;
    margin-left: 20px;
}
#timer{
    font-size: 30px;
    float: right;
    margin-right: 20px;
}
#sketch_drawn{
    color:mediumslateblue;
}
h1{
    background-color: whitesmoke;
}
#show_sketch{
    float: right;
}
.p{
    font-size: 20px;
}